* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #08797f57;
  color: #111827;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
}

.header {
  background:#209da1bc;
  border-bottom: 1px solid #e5e7eb;
  background-image: url("umit.jpeg");
  background-size: cover;
}

.header h1 {
  font-size: 2rem;
}

.header p {
  color: #0a0b0e;
  margin-bottom: 1rem;
}

input, select {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0;
  border-radius: 6px;
  border: 1px solid #08797f;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.tab-button {
  padding: 0.5rem 1rem;
  border: 1px solid #08797f;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.tab-button.active {
  background: #111827;
  color: white;
}

.event-grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .event-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .event-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.event-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition:transform 0.2s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  transition-duration: 1s;
  transform:scale(0.9);
}

.event-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.event-card-body {
  padding: 1rem;
}

.event-card-body h3 {
  font-size: 1.1rem;
}

.event-card-body p {
  color: #6b7280;
  font-size: 0.9rem;
}

.empty-state {
  display: none;
  text-align: center;
  margin-top: 2rem;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 1.5rem;
}


.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.admin-btn {
  padding: 8px 16px;
  background-color: #7c76ed;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.admin-btn:hover {
    background-color: #4338ca;
}
